<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    
    <%- include('./partials/nav.ejs') %>
    
    <div class="about content">
        <h2>About Us</h2>
        <h4>Hritik Gupta:</h4>
        <p>I am currently pursuing B-Tech from Indian Institute Of Information Technology Nagpur. I am passionate about technology and have developed a set of skills in Software Field.</p>
        <p>I am presently enrolled as a third-year student pursuing a Bachelor of Technology degree in Electronics and Communication Engineering."Beyond my academic pursuits, I have cultivated proficiency in several programming languages, including C, C++, Python.</p>
        <p> My passion for web development has driven me to acquire adept skills in HTML, CSS, JavaScript, jQuery, PHP , NodeJs, ExpressJs and ReactJs.</p>
        <br>
        <span><a href="https://www.linkedin.com/in/hritik-gupta-5352a01b8/" target="_blank"><box-icon type='logo' name='linkedin-square'></a><a href="https://github.com/HritikGupta22" target="_blank"><box-icon type='logo' name='github'></box-icon></a></span>



       
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>