
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@1,700&display=swap');

body{
    
    max-width: 1200px;
    margin: 20px auto;
    padding: 0 20px;
    font-family: 'Noto Serif', serif;
     background: url(https://img.freepik.com/free-photo/flat-lay-workstation-with-copy-space-tablet_23-2148430857.jpg?w=900&t=st=1722162064~exp=1722162664~hmac=182bfefbbd0ed7b7a4b2eab7617b887c1af44571a622c6c0cf3eb1d1344f0487) no-repeat center center fixed;
    background-size: cover;
    color: white;
/*     background:linear-gradient(to right,skyblue,rgb(198, 19, 177),#1a6ccaf3) ; */
    height:auto;
}
p,h1,h2,h3,h4,a,ul{
    margin: 0;padding: 0;
    text-decoration: none;
        color: white;

/*     color: #171212; */

}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    text-transform: uppercase;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

}
nav li{
    list-style-type:none ;
    margin-left: 20px;
}
nav h1{
    font-size: 3rem;
}
nav p,nav li a{
/*     color: #382b2b; */
     color: white; /* Text color */
    background-color: rgba(49, 49, 49, 0.5);
    font-weight: 300;
}
.about{
    color: white;
    background-color:  rgba(49, 49, 49, 0.377);
}
.about p{
    margin-top: 5px;

}
.about span{

    width: 4rem;
    display: flex;
    justify-content: space-between;

    
    

}
footer{
/*     color: #777; */
     color: white;
    text-align: center;
    margin: 80px auto 10px;




}
h2{

    margin-bottom: 40px;
    text-transform: uppercase;
}
h3{
    text-transform: capitalize;
    margin-bottom: 8px;
}
.content{
    padding: 1.5rem;
    margin-left: 20px;
}

.blogs a{
    display: block;
    margin: 40px 0;
    padding-left: 30px;
    border-left: 6px solid rgb(175, 0, 228);
}
.blogs a:hover h3{
    color:rgb(175, 0, 228);
}
.details{
    position: relative; 
}
.delete{
    position: absolute;
    top:0;
    right: 1rem;
    border-radius: 30%;
    padding: 8px;
    color: rgb(0, 0, 0);
      background-color: rgba(114, 109, 109, 0.5);
    transition: .5s ease;
}
.delete:hover{
    cursor: pointer;
    box-shadow: 1px 2px 2px rgba(255, 4, 4, 0.2);
    color: red;
    background: rgb(52, 195, 252);

} 
.create-blog form{
    max-width: 400px;
    margin: 0 auto;

}
.create-blog input,
.create-blog textarea{
    display: block;
    width: 100%;
    margin: 8px 0;
    padding: 8px;
}
.create-blog label{
    display: block;
    margin-top: 20px;
}
textarea{
    height: 80px;
}
.create-blog button{
    margin-top: 18px;
    background: crimson;
    color: white;
    padding: 6px;
    border: 0;
    font-size: 1.2rem;
    cursor: pointer;

}
